[submodule "DALIGNER"]
	path = thirdparty/DALIGNER
    url = https://github.com/thegenemyers/DALIGNER.git
[submodule "DAZZ_DB"]
	path = thirdparty/DAZZ_DB
	url = https://github.com/Eureka22/DAZZ_DB.git
[submodule "DEXTRACTOR"]
	path = thirdparty/DEXTRACTOR
	url = https://github.com/thegenemyers/DEXTRACTOR.git
[submodule "DASCRUBBER"]
	path = thirdparty/DASCRUBBER
	url = https://github.com/thegenemyers/DASCRUBBER.git
[submodule "graphmap"]
	path = graphmap
	url = https://github.com/isovic/graphmap.git
[submodule "src/spdlog"]
	path = src/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/racon"]
	path = thirdparty/racon
	url = https://github.com/isovic/racon.git
