appdirs==1.4.3
colorama==0.3.9
colormap==1.0.1
decorator==4.1.2
easydev==0.9.35
networkx==1.9
numpy==1.13.3
packaging==16.8
pexpect==4.2.1
ptyprocess==0.5.2
pyparsing==2.2.0
six==1.10.0
ujson==1.35
pbcore==1.2.10
